body {
  background-color: #3d3d3a;
  color: white;
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #a6afde;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 2em;
}

.image {
  width: 800px;
  height: 400px;
  object-fit: cover;
}

.countryName {
  margin-bottom: 10px;
}

.nameOfCountry {
  font-size: 2em;
}

.neerestCountry {
  margin-bottom: 5px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.backButton {
  display: flex;
  align-items: center;
}
