body {
  background-color: #3d3d3a;
  color: white;
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 2em;
}

.countryName {
  margin-bottom: 10px;
}
