.container {
  padding: 30px;
}

.title {
  font-size: 2em;
}

.countryName {
  margin-bottom: 20px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.searchContainer {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  gap: 15px;
}

.searchInput {
  width: 80%;
  max-width: 250px;
  padding: 5px 15px;
  font-size: 16px;
  border: 2px solid #a6afde;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.searchInput:focus {
  border-color: #a6afde;
}

.searchInput::placeholder {
  color: #aaa;
  font-style: italic;
}

.noResults {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #ff6f61;
  font-weight: bold;
}
