.container {
  padding: 30px;
}

.title {
  margin-bottom: 20px;
  font-size: 2em;
}

.countryName {
  margin-bottom: 20px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
